body{
  background: #eee;
}
#page_title{
  text-align: center;
  font-size: 25px;
  line-height: 50px; 
}
#txt_txt{
	text-align: center;
}
#learnocaml-main-toolbar {
  position: absolute;
  left: 0; top: 0;
  color: #fff;
  z-index: 1004;
  border-bottom: 1px #eee solid;
  display: flex;
  background: #222;
}
#learnocaml-main-toolbar a {
  text-decoration: none;
  color: #fff;
}
#learnocaml-main-toolbar > button {
  border-left: 1px #eee solid !important;
  padding: 0 10px 0 10px;
  margin: 0;
  background: none;
  border: none;
  flex: 0;
  position: relative;
  display: block;
}
#learnocaml-main-toolbar > button > * {
  padding: 5px;
  color: #eee;
  text-align: center;
}
#learnocaml-main-toolbar::before {
  z-index: 1004;
  position: absolute;
  left: 0px; height: 5px; width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0px, rgba(0,0,0,0) 5px);
  content:"";
}
@media (max-width: 549px) {
  #learnocaml-main-toolbar {
    height: 40px;
    width: 100%
  }
  .button {
  	height: 40px;
  	min-width: 40px;
  }
  #learnocaml-main-toolbar::before {
    top: 41px;
  }
  #learnocaml-main-toolbar > button > .label {
    display: none;
  }
}
@media (min-width: 550px) {
  #learnocaml-main-toolbar {
    height: 60px;
    width: 100%;
  }
  .button {
  	height: 60px;
  	min-width: 60px;
  }
  #learnocaml-main-toolbar::before {
    top: 61px;
  }
}


#learnocaml-test {
position: absolute;
  z-index: 998;
  background: #eee;
  padding: 0;
  opacity: 1;
	text-align: center;
}
#learnocaml-test {
  left: 0px; top:110px; right: 0px; bottom: 60%;
}
#learnocaml-tab-name{
  padding: 5px;text-align:center;
}
#learnocaml-tab-type{
  padding: 5px;text-align:center;
}
#learnocaml-tab-choix{
  padding: 5px;text-align:center;
}
#learnocaml-tabs {
position: absolute;
  z-index: 998;
  background: #eee;
  padding: 0;
  opacity: 1;
}
#learnocaml-tabs {
  left: 0px; top:40%; right: 0px; bottom: 0px;
}

#learnocaml-tabs > * {
  position: absolute;
  z-index: 997;
  background: #eee;
  padding: 0;
  opacity: 0;
}
#learnocaml-tabs > *.front-tab {
  z-index: 998;
  opacity: 1;
}
#learnocaml-tabs > * {
  left: 0px; top: 15px; right: 0px; bottom: 0px;
}

#learnocaml-tab-solution-input {
	left: 0px; top: 10px; right: 50%; bottom: 0px;
	position:absolute;
	margin: 10px;
	background : #666;
	border : 3px solid #fff
}
#txt_input_solution {
	left: 10px;	
	position: absolute;
}

#learnocaml-tab-solution-extra {
	left: 50%; top: 0px; right: 0px; bottom: 0px; position :absolute;
	text-align:center;
}

#learnocaml-tab-spec-input {
	left: 0px; top: 10px; right: 50%; bottom: 20%;
	position: absolute;
	margin: 10px;
	background : #666;
	border : 3px solid #fff
}

#txt_input_spec {
	left: 10px;	
	position: absolute;
}

#learnocaml-tab-spec-extra {
	left: 50%; top: 0px; right: 0px; bottom: 20%;
	position: absolute;
	text-align:center;
}

#learnocaml-tab-spec-spec {
	left: 125px; top: 80%; right: 125px; bottom: 0px;
	position: absolute;
	margin: 10px;
	background : #666;
	border : 3px solid #fff
}

#txt_spec_specification {
	position: absolute;
	left: 10px;
	top: 87%;
}

#learnocaml-tab-suite-input{
  	left: 0px; top: 10px; right: 50%; bottom: 0%;
	position: absolute;
	margin: 10px;
	background : #666;
	border : 3px solid #fff
}

#txt_suite_input {
	left: 10px;	
	position: absolute;
}

#learnocaml-tab-suite-output{
  	left: 50%; top: 10px; right: 0px; bottom: 0px;
	position: absolute;
	margin: 10px;
	background : #666;
	border : 3px solid #fff
}

#txt_suite_output{
	position: absolute;
	left: 51%
}

/* ace */
	/* solution input */

#learnocaml-tab-solution-input {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
#learnocaml-tab-solution-input .ace_gutter {
  background: linear-gradient(to left, transparent 0, #444 8px, #ccc 8px, #ccc 9px, #444 9px) ;
  color: #ccc;
}
#learnocaml-tab-solution-input .ace_gutter-active-line {
  background: linear-gradient(to left, #777 0, #456 8px, #ccc 8px, #ccc 9px, #678 9px) ;
  color: #888;
}
#learnocaml-tab-solution-input .ace_gutter-cell {
  padding: 0 14px 0 0;
}
#learnocaml-tab-solution-input .ace_gutter-cell.ace_warning {
  background: linear-gradient(to right, #980 0, #980 4px, transparent 80%) ;
}
#learnocaml-tab-solution-input .ace_gutter-cell.ace_error {
  background: linear-gradient(to right, #900 0, #900 4px, transparent 80%) ;
}
#learnocaml-tab-solution-input .ace_comment { color: #aaa; font-style: italic; }
#learnocaml-tab-solution-input .ace_keyword { color: #e80; font-weight:bold; }
#learnocaml-tab-solution-input .ace_constant { color: #acf; }
#learnocaml-tab-solution-input .ace_string { color: #acf; }
#learnocaml-tab-solution-input .ace_function { color: #fff; }
#learnocaml-tab-solution-input .ace_type { color: #fff; }
#learnocaml-tab-solution-input .ace_operator { color: #fff; }
#learnocaml-tab-solution-input .ace_meta { color: #fff; }
#learnocaml-tab-solution-input .ace_variable { color: #fff; }
#learnocaml-tab-solution-input .ace_text { color: #fff; }
#learnocaml-tab-solution-input .error {
  border-bottom: 2px #b00 solid;
  position: absolute;
}

#learnocaml-tab-solution-input .warning {
  border-bottom: 2px #ca0 solid;
  position: absolute;
}

#learnocaml-tab-solution-input .ace_selection { background: #e80; opacity: 0.4; }
#learnocaml-tab-solution-input .ace_active-line { background: #acf; opacity: 0.2; }
#learnocaml-tab-solution-input .ace_selected-word { background: #e80; opacity: 0.2; }

	/* spec input */
#learnocaml-tab-spec-input {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
#learnocaml-tab-spec-input .ace_gutter {
  background: linear-gradient(to left, transparent 0, #444 8px, #ccc 8px, #ccc 9px, #444 9px) ;
  color: #ccc;
}
#learnocaml-tab-spec-input .ace_gutter-active-line {
  background: linear-gradient(to left, #777 0, #456 8px, #ccc 8px, #ccc 9px, #678 9px) ;
  color: #888;
}
#learnocaml-tab-spec-input .ace_gutter-cell {
  padding: 0 14px 0 0;
}
#learnocaml-tab-spec-input .ace_gutter-cell.ace_warning {
  background: linear-gradient(to right, #980 0, #980 4px, transparent 80%) ;
}
#learnocaml-tab-spec-input .ace_gutter-cell.ace_error {
  background: linear-gradient(to right, #900 0, #900 4px, transparent 80%) ;
}
#learnocaml-tab-spec-input .ace_comment { color: #aaa; font-style: italic; }
#learnocaml-tab-spec-input .ace_keyword { color: #e80; font-weight:bold; }
#learnocaml-tab-spec-input .ace_constant { color: #acf; }
#learnocaml-tab-spec-input .ace_string { color: #acf; }
#learnocaml-tab-spec-input .ace_function { color: #fff; }
#learnocaml-tab-spec-input .ace_type { color: #fff; }
#learnocaml-tab-spec-input .ace_operator { color: #fff; }
#learnocaml-tab-spec-input .ace_meta { color: #fff; }
#learnocaml-tab-spec-input .ace_variable { color: #fff; }
#learnocaml-tab-spec-input .ace_text { color: #fff; }
#learnocaml-tab-spec-input .error {
  border-bottom: 2px #b00 solid;
  position: absolute;
}

#learnocaml-tab-spec-input .warning {
  border-bottom: 2px #ca0 solid;
  position: absolute;
}

#learnocaml-tab-spec-input .ace_selection { background: #e80; opacity: 0.4; }
#learnocaml-tab-spec-input .ace_active-line { background: #acf; opacity: 0.2; }
#learnocaml-tab-spec-input .ace_selected-word { background: #e80; opacity: 0.2; }

	/* suite input */
#learnocaml-tab-suite-input {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
#learnocaml-tab-suite-input .ace_gutter {
  background: linear-gradient(to left, transparent 0, #444 8px, #ccc 8px, #ccc 9px, #444 9px) ;
  color: #ccc;
}
#learnocaml-tab-suite-input .ace_gutter-active-line {
  background: linear-gradient(to left, #777 0, #456 8px, #ccc 8px, #ccc 9px, #678 9px) ;
  color: #888;
}
#learnocaml-tab-suite-input .ace_gutter-cell {
  padding: 0 14px 0 0;
}
#learnocaml-tab-suite-input .ace_gutter-cell.ace_warning {
  background: linear-gradient(to right, #980 0, #980 4px, transparent 80%) ;
}
#learnocaml-tab-suite-input .ace_gutter-cell.ace_error {
  background: linear-gradient(to right, #900 0, #900 4px, transparent 80%) ;
}
#learnocaml-tab-suite-input .ace_comment { color: #aaa; font-style: italic; }
#learnocaml-tab-suite-input .ace_keyword { color: #e80; font-weight:bold; }
#learnocaml-tab-suite-input .ace_constant { color: #acf; }
#learnocaml-tab-suite-input .ace_string { color: #acf; }
#learnocaml-tab-suite-input .ace_function { color: #fff; }
#learnocaml-tab-suite-input .ace_type { color: #fff; }
#learnocaml-tab-suite-input .ace_operator { color: #fff; }
#learnocaml-tab-suite-input .ace_meta { color: #fff; }
#learnocaml-tab-suite-input .ace_variable { color: #fff; }
#learnocaml-tab-suite-input .ace_text { color: #fff; }
#learnocaml-tab-suite-input .error {
  border-bottom: 2px #b00 solid;
  position: absolute;
}

#learnocaml-tab-suite-input .warning {
  border-bottom: 2px #ca0 solid;
  position: absolute;
}

#learnocaml-tab-suite-input .ace_selection { background: #e80; opacity: 0.4; }
#learnocaml-tab-suite-input .ace_active-line { background: #acf; opacity: 0.2; }
#learnocaml-tab-suite-input .ace_selected-word { background: #e80; opacity: 0.2; }

	/* spec spec */
#learnocaml-tab-spec-spec {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
#learnocaml-tab-spec-spec .ace_gutter {
  background: linear-gradient(to left, transparent 0, #444 8px, #ccc 8px, #ccc 9px, #444 9px) ;
  color: #ccc;
}
#learnocaml-tab-spec-spec .ace_gutter-active-line {
  background: linear-gradient(to left, #777 0, #456 8px, #ccc 8px, #ccc 9px, #678 9px) ;
  color: #888;
}
#learnocaml-tab-spec-spec .ace_gutter-cell {
  padding: 0 14px 0 0;
}
#learnocaml-tab-spec-spec .ace_gutter-cell.ace_warning {
  background: linear-gradient(to right, #980 0, #980 4px, transparent 80%) ;
}
#learnocaml-tab-spec-spec .ace_gutter-cell.ace_error {
  background: linear-gradient(to right, #900 0, #900 4px, transparent 80%) ;
}
#learnocaml-tab-spec-spec .ace_comment { color: #aaa; font-style: italic; }
#learnocaml-tab-spec-spec .ace_keyword { color: #e80; font-weight:bold; }
#learnocaml-tab-spec-spec .ace_constant { color: #acf; }
#learnocaml-tab-spec-spec .ace_string { color: #acf; }
#learnocaml-tab-spec-spec .ace_function { color: #fff; }
#learnocaml-tab-spec-spec .ace_type { color: #fff; }
#learnocaml-tab-spec-spec .ace_operator { color: #fff; }
#learnocaml-tab-spec-spec .ace_meta { color: #fff; }
#learnocaml-tab-spec-spec .ace_variable { color: #fff; }
#learnocaml-tab-spec-spec .ace_text { color: #fff; }
#learnocaml-tab-spec-spec .error {
  border-bottom: 2px #b00 solid;
  position: absolute;
}

#learnocaml-tab-spec-spec .warning {
  border-bottom: 2px #ca0 solid;
  position: absolute;
}

#learnocaml-tab-spec-spec .ace_selection { background: #e80; opacity: 0.4; }
#learnocaml-tab-spec-spec .ace_active-line { background: #acf; opacity: 0.2; }
#learnocaml-tab-spec-spec .ace_selected-word { background: #e80; opacity: 0.2; }

	/* suite output */
#learnocaml-tab-suite-output {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
#learnocaml-tab-suite-output .ace_gutter {
  background: linear-gradient(to left, transparent 0, #444 8px, #ccc 8px, #ccc 9px, #444 9px) ;
  color: #ccc;
}
#learnocaml-tab-suite-output .ace_gutter-active-line {
  background: linear-gradient(to left, #777 0, #456 8px, #ccc 8px, #ccc 9px, #678 9px) ;
  color: #888;
}
#learnocaml-tab-suite-output .ace_gutter-cell {
  padding: 0 14px 0 0;
}
#learnocaml-tab-suite-output .ace_gutter-cell.ace_warning {
  background: linear-gradient(to right, #980 0, #980 4px, transparent 80%) ;
}
#learnocaml-tab-suite-output .ace_gutter-cell.ace_error {
  background: linear-gradient(to right, #900 0, #900 4px, transparent 80%) ;
}
#learnocaml-tab-suite-output .ace_comment { color: #aaa; font-style: italic; }
#learnocaml-tab-suite-output .ace_keyword { color: #e80; font-weight:bold; }
#learnocaml-tab-suite-output .ace_constant { color: #acf; }
#learnocaml-tab-suite-output .ace_string { color: #acf; }
#learnocaml-tab-suite-output .ace_function { color: #fff; }
#learnocaml-tab-suite-output .ace_type { color: #fff; }
#learnocaml-tab-suite-output .ace_operator { color: #fff; }
#learnocaml-tab-suite-output .ace_meta { color: #fff; }
#learnocaml-tab-suite-output .ace_variable { color: #fff; }
#learnocaml-tab-suite-output .ace_text { color: #fff; }
#learnocaml-tab-suite-output .error {
  border-bottom: 2px #b00 solid;
  position: absolute;
}

#learnocaml-tab-suite-output .warning {
  border-bottom: 2px #ca0 solid;
  position: absolute;
}

#learnocaml-tab-suite-output .ace_selection { background: #e80; opacity: 0.4; }
#learnocaml-tab-suite-output .ace_active-line { background: #acf; opacity: 0.2; }
#learnocaml-tab-suite-output .ace_selected-word { background: #e80; opacity: 0.2; }
